@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body { font: 400 15px Lato, sans-serif; line-height: 1.8; color: #000; background: url(../images/bg.png) right top no-repeat #f8f8f8 fixed;} 
h2 { font-size: 24px; color: #303030; font-weight: 600; margin-bottom: 30px; } 
h4 { font-size: 19px; line-height: 1.375em; color: #303030; font-weight: 400; margin-bottom: 30px; } 
.wrapper{box-shadow:0px 0px 30px #e6e6e6; width: 92%;background: #fff;margin: auto;}
.box_container{ margin-bottom:70px}
.bg-grey { background-color: #f6f6f6; } 
.logo-small { color: #f4511e; font-size: 50px; } 
.logo { color: #f4511e; font-size: 200px; } 
.thumbnail { padding: 0 0 15px 0; border: none; border-radius: 0; } 
.thumbnail img { width: 100%; height: 100%; margin-bottom: 10px; } 
.carousel-control.right, .carousel-control.left { background-image: none; color: #f4511e; } 
.carousel-indicators li { border-color: #000; } 
.carousel-indicators li.active { background-color: #000; } 
.item h4 { font-size: 19px; line-height: 1.375em; font-weight: 400; font-style: italic; margin: 70px 0; } 
.item span { font-style: normal; } 
.panel { border: 1px solid #f4511e; border-radius:0 !important; transition: box-shadow 0.5s; } 
.panel:hover { box-shadow: 5px 0px 40px rgba(0,0,0, .2); } 
.panel-footer .btn:hover { border: 1px solid #f4511e; background-color: #fff !important; color: #f4511e; } 
.panel-heading { color: #fff !important; background-color: #f4511e !important; padding: 25px; border-bottom: 1px solid transparent; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; } 
.panel-footer { background-color: white !important; } 
.panel-footer h3 { font-size: 32px; } 
.panel-footer h4 { color: #aaa; font-size: 14px; } 
.panel-footer .btn { margin: 15px 0; background-color: #f4511e; color: #fff; } 
.navbar { margin-bottom: 0; background-color: #ffd800; z-index:25; border: 0; font-size: 12px !important; line-height: 1.42857143 !important; border-radius: 0; font-family: Montserrat, sans-serif; width: 92%;margin: auto; height: 75px; text-transform: uppercase} 
.navbar li a, .navbar .navbar-brand { color: #000 !important; } 
.navbar-nav li a:hover, .navbar-nav li.active a { color: #000 !important; border-bottom: 5px solid #000} 
.navbar-default .navbar-toggle { border-color: transparent; color: #fff !important; } 
footer .glyphicon { font-size: 20px; margin-bottom: 20px; color: #f4511e; } 
.submit_story{position:absolute;margin: 22px 120px;}
.submit_story_mobile{position:absolute;margin: 22px 120px; display: none}
.slideanim {visibility:hidden;} 
.slide { animation-name: slide; visibility: visible; } 
.breadcrumbs{text-align: center;color:#b1b1b1;font-size:13px;}
.breadcrumbs a{color:#b1b1b1; text-decoration: none}
.breadcrumbs a:hover{color:#b1b1b1; text-decoration: underline}
.view-btn{border-radius: 0px;color: #000;font-weight:400;padding: 10px 30px; background: #e6e6e6; border: 1px solid rgb(206, 205, 205)}
.view-btn:hover{background: #ffd800;color: #000; border: 1px solid  #ffd800}
.view-btn:focus{background: #fca30b;color: #000; border: 1px solid #ffd800}
.view-btn:active{background: #fca30b;color: #000; border: 1px solid #ffd800}


  

.banner_container{margin-top:75px;padding: 30px 30px 30px 30px;}
.banner_container .banner_title{color:#000; font-size: 22px;font-weight: 500; line-height: 30px; margin: 10px 0px;}
.banner_container .latest_news{  margin-bottom: 10px}
.banner_container .latest_news h2{color:#000; font-size: 19px;font-weight: 600; line-height: 13px; height: 19px; margin: 00px 0px;border-bottom: 6px solid #ffd800;padding-right: 20px;display: -webkit-inline-box;}
.banner_container .photo{margin-bottom: 0px} 
.banner_container .info{margin:0px}
.banner_container .info .ln_title{margin-bottom: 10px;}
.banner_container .info .ln_title .ln_subject_name{color: #000; font-size: 12.5px; line-height: 18px; margin:5px 0px; letter-spacing: 0.4px}


.viral_stories{margin-bottom: 10px}
.viral_stories h1{color:#000;font-size: 19px;font-weight: 600; line-height: 13px; height: 19px; margin: 00px 0px;border-bottom: 6px solid #ffd800;padding-right: 20px;display: -webkit-inline-box;}
.viral_stories .col-item{ margin-bottom: 30px}
.viral_stories .col-item .info .price{color: #000;font-size: 17px;line-height: 25px;margin: 8px 0px;letter-spacing: 0.4px;
	FONT-WEIGHT: 600; text-align: left}
.editors_pick_panel{margin: 40px 0px; padding-top: 70px}
.editors_pick_panel h1{color:#000;font-size: 19px;font-weight: 600; line-height: 13px; height: 19px; margin: 00px 0px 15px;border-bottom: 6px solid #ffd800;padding-right: 20px;display: -webkit-inline-box;}
.editors_pick_panel .editors_pick{ width: 100%; }
.editors_pick_panel .editors_pick .editor_pick_videos{float: left; width: 50%;height: 90px; margin-bottom: 20px;}
.editors_pick_panel .editors_pick .editor_pick_videos:hover{background-color: #f7f8f9;-webkit-transition: background-color 1000ms linear;-ms-transition: background-color 1000ms linear;transition: background-color 1000ms linear;}
.editors_pick_panel .editors_pick .editor_pick_videos .video_lists_image{float: left; width: 40%; margin-right: 2%}
.editors_pick_panel .editors_pick .editor_pick_videos .video_lists_name{color: #000; font-size: 15px; font-weight: 600; line-height: 20px; float: left; width: 58%;}
.editors_pick_panel .editors_pick .editor_pick_videos .video_lists_name1{color:#a2a2a2;font-size: 12px; font-weight: 300;float: left; width: 58%;}




.bollywood_container{ background: url(../images/video_bg.jpg) repeat #1e212d;    padding-right: 15px; } 
.bollywood_container  h1{color:#fff;font-size: 19px;font-weight: 600; line-height: 13px; height: 19px; margin: 30px 0px 15px;border-bottom: 6px solid #ffd800;padding-right: 20px;display: -webkit-inline-box;}
.bollywood_container .video_block{ display: inline-block; width: 100%;padding-right: 15px;}
.bollywood_container .video_name{color:#fff;font-size: 20px;line-height: 26px;display: inline-block; padding-right: 15px;    padding-bottom: 15px;}
.bollywood_container .video_name p{float:left;margin:00px 0px 0px; width: 80% }
.bollywood_container .video_name .button{float: right;margin:10px 0px 0px;width: 20%; text-align: right}
.bollywood_container .video_name .button .btn-primary{background: #ffd800; border: 1px solid #ffd800; border-radius: 0px;
color: #000; font-weight: 600; padding: 10px 30px;}
.bollywood_container .video_name .button .btn-primary:hover{ background: #fca30b; border: #fca30b 1px solid}
.bollywood_container .video_slides{background: #f7f8f9; padding: 0px 30px;    padding-bottom: 15px;}
.bollywood_container .video_slides h1{ color:#000}
.bollywood_container .video_slides .video_lists{ display: inline-block; width: 100%; margin-bottom: 0px;}
.bollywood_container .video_slides .video_lists .video_lists_image{float: left; width: 40%; margin-right: 2%}
.bollywood_container .video_slides .video_lists .video_lists_name{color: #000; font-size: 15px; font-weight: 600; line-height: 20px; float: left; width: 58%;margin-top:-5px;}
.bollywood_container .video_slides .video_lists .video_lists_name1{color:#a2a2a2;font-size: 12px; font-weight: 300;float: left; width: 58%;}



/*footer page css*/
.page-footer{background:#ffd800; margin-top: 50px}
.page-footer .col-md-3{padding:30px;}
.page-footer .col-md-3 .title{color:#000; font-weight: 600; font-size: 16px}
.page-footer .col-md-3 ul{ padding: 0px}
.page-footer .col-md-3 ul li{ list-style-type: none; padding: 0px; margin: 0px}
.page-footer .col-md-3 ul li a{ color: #000; font-size: 13px}
.page-footer .footer-copyright{ background: #000; text-align: center;color: #ffd800; padding: 10px}




/*inner page css*/
.blog_desc{margin: 0px; width: 100%}
.blog_desc h1{color: #000;text-align: center;font-weight: 500;margin: 50px 150px 20px;line-height: 50px;font-size: 38px;}
.blog_desc .writer{color: #989898; text-align: center; font-size: 14px; }
.blog_desc .writer .profile_pic{display: inline-block; background-size: cover; width: 30px; height: 30px; border-radius: 50%; vertical-align: middle; border: solid 1px #e2e2e2;    margin: 0px 10px;}
.blog_desc .blog_banner{width: 100%; margin: 20px 0px 30px}
.blog_desc .blog_banner img{margin: auto; text-align: center;}
.blog_desc .blog_content{width: 70%; margin: 0% 15%; text-align:left }
.blog_desc .blog_content h3{font-weight: bold; margin: 50px 0px 20px}
.blog_desc .blog_content p{margin-bottom: 20px;font-size: 17px; color: #0b131c; text-align: justify}

.blog_desc .blog_content .content_add{ padding: 20px 0px}
.blog_desc .blog_tags{width: 70%; margin: 0% 15%; text-align:left;font-size: 12.4px;letter-spacing: 0.2px;}
.blog_desc .blog_tags strong{font-size: 17px;}
.blog_desc .blog_tags a{border: 1px #777777 dotted; padding: 2px 5px; margin: 5px; text-transform: capitalize; color: #777777; text-decoration: none}
.blog_desc .blog_tags a:hover{background:#efefef}

.blog_desc .feedback{width: 70%; margin: 5% 15% 10%; text-align:left;font-size: 12.4px;letter-spacing: 0.2px;}
.blog_desc .feedback strong{font-size: 20px; font-weight: 400; }
.blog_desc .feedback a{border: 1px #777777 dotted; padding: 2px 5px; margin: 5px; text-transform: capitalize; color: #777777; text-decoration: none}
.blog_desc .feedback a:hover{background:#efefef}



/*search box css*/
.search_box{}
.search_box .search_name{width: 100%; font-size: 25px; margin-bottom: 50px}
.search_box .search_name span{background: #ffd800; padding: 5px 10px}
.search_box .search_items{margin-bottom: 30px;    display: inline-block; width:100%;
 -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;}
.search_box .search_items:hover{background:#efefef}
.search_box .search_items .items_name{font-size: 21px; line-height: 30px; margin: 0px; color: #000; padding: 10px 0px;}



/*new registration css*/
.new_registration{width: 100%}
.new_registration .banner{ background: url(../images/register_banner_bg.jpg) no-repeat left top #656a70; height: 345px;    padding: 20px;margin: 20px;}
.new_registration .banner .cartoon{margin: 22px 00px 0px 10px}
.new_registration .banner .registrationbox{ background: #fff; border:#5d616a26 solid 8px; padding: 40px; text-align: left; margin-bottom: 250px; margin-top: 20px}
.new_registration .banner .registrationbox label{color:#657480; font-weight: 600; width: 100%}
.new_registration .banner .registrationbox label .error{color: white;float: right;text-align: right;background: red;    padding: 0px 10px;font-size: 14px;line-height: 22px;top: 10px;position: relative;font-weight: 400;}
.new_registration .banner .registrationbox .textbox{border-radius: 0px;border: 2px solid #e7e7e9;box-shadow: inset 0 0px 0px rgba(0,0,0,.075); padding: 8px 8px;     width: 100%;
    display: inline-block;}
.new_registration .banner .registrationbox .textbox:focus{border-color: #a5afb7;outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(165, 175, 183);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(165, 175, 183);}

.new_registration .banner .registrationbox  .submit_button{background: #ffd800;border-radius: 0px;border: #ffd800;
    padding: 15px 60px;font-size: 17px;margin-top: 20px;}


.modal-open .modal .blog-modal-dialog{width:730px}
.modal-open .modal .blog-modal-dialog .modal-content{height: 440px}
.modal-open .modal .blog-modal-dialog .modal-content .modal-left{background: #ffd800; padding: 61.5px 10px}
.modal-open .modal .blog-modal-dialog .modal-content .modal-right{background: #fff}
.modal-open .modal .blog-modal-dialog .modal-content .modal-right .thank_you{text-align: center;font-size: 26px;margin: 45% 0%;}
.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe{text-align:center}
.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe .form-group{margin:0px 50px 10px}
.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe h1{font-size: 32px; margin:50px 0px 40px}
.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe h2{font-size: 16px; font-weight: 300;    line-height: 25px; margin-bottom: 0px}
.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe h2 span{font-size: 27px;}
.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe .form-control{border: none;background: #f2f2f2;border-radius: 0px; margin-bottom: 10px;color: #000;}
.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe .subscribe_btn{background: #ffd800; text-align: center; color: #000;border-radius: 0px;width: 100%;margin: 0px;padding:10px;font-size:16px;font-weight: 500;}
.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe .note_subscribe{color:#bababa; font-family: Cambria, "Times New Roman", "serif"; font-style: italic; margin: 10px}


 

#search {position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.9); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -webkit-transform: translate(0px, -100%) scale(0, 0); -moz-transform: translate(0px, -100%) scale(0, 0); -o-transform: translate(0px, -100%) scale(0, 0); -ms-transform: translate(0px, -100%) scale(0, 0); transform: translate(0px, -100%) scale(0, 0); opacity: 0;z-index: 10000;}
#search.open {-webkit-transform: translate(0px, 0px) scale(1, 1); -moz-transform: translate(0px, 0px) scale(1, 1); -o-transform: translate(0px, 0px) scale(1, 1); -ms-transform: translate(0px, 0px) scale(1, 1); transform: translate(0px, 0px) scale(1, 1); opacity: 1;}
#search input[type="search"] {position: absolute; top: 50%; width: 100%; color: #ffd800; background: rgba(0, 0, 0, 0); font-size: 40px; font-weight: 300; text-align: center; border: 0px; margin: 0px auto; margin-top: -51px; padding-left: 30px; padding-right: 30px; outline: none; text-transform: capitalize}
#search .btn {position: absolute; top: 50%; left: 50%; margin-top: 61px; margin-left: -45px;    color: #000; background-color: #ffd800;border-color: #ffd800;border-radius: 0px;font-size: 22px;padding: 5px 25px; font-family: Montserrat, sans-serif}
#search .close {position: fixed; top: 15px; right: 15px; color: #000; background-color: #ffd800; border-color:#ffd800; opacity: 1; padding: 10px 17px; font-size: 27px; text-shadow: 0!important; }












@keyframes slide {0% {opacity: 0;transform: translateY(70%);} 100% {opacity: 1;transform: translateY(0%);} }
@-webkit-keyframes slide {0% {opacity: 0;-webkit-transform: translateY(70%);} 
100% {opacity: 1;-webkit-transform: translateY(0%);}}

@media screen and (max-width: 768px) { 
.navbar{width:100%}	  
.wrapper{box-shadow:0px 0px 30px #e6e6e6; width: 100%;background: #fff;margin: auto;}	  
.mobile_Nav {background-color: #ffd800;}	  
.btn-lg {width: 100%;margin-bottom: 35px;}
.submit_story {display: none;}	
.banner_container .latest_news{  margin-bottom: 20px}	 
.viral_stories{margin-bottom: 20px}	  
.editors_pick_panel .editors_pick .editor_pick_videos{width: 100%;}	  
.banner_container .banner_title{font-size: 18px;} 
.banner_container .latest_news{ margin-top: 40px} 
.bollywood_container .video_name p{width: 100% }
.bollywood_container .video_name .button{width: 100%; text-align: center; margin: 20px 0px 0px}
.bollywood_container .video_name .button .btn-primary{background: #ffd800; border: 1px solid #ffd800; border-radius: 0px;
color: #000; font-weight: 600; padding: 10px 30px;}
.bollywood_container .video_name .button .btn-primary:hover{ background: #fca30b; border: #fca30b 1px solid}
.bollywood_container .video_slides{background: #f7f8f9;padding: 0px 30px;padding-bottom: 15px;}  
.banner_container .info .ln_title{margin-bottom: 20px;}} 

@media screen and (max-width: 480px) {
.logo {font-size: 150px;}
.blog_desc h1{margin: 35px 0px;line-height: 33px;font-size: 24px;}	
.blog_desc .blog_content, .blog_desc .blog_tags, .blog_desc .feedback{width: 90%;margin: 0% 5%;}	
.new_registration .banner{margin:0px; padding: 20px 0px; height: auto}
.new_registration .banner .cartoon{margin: 0px 00px 0px 20px}
.new_registration .banner .registrationbox{padding:20px; margin-bottom: 00px;}
.submit_story_mobile{position: relative;display: inline-block;height: 30px;top:80px;}
}





 
