@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@charset "utf-8";
/* CSS Document */
select, input[type=text], input[type=file], input[type=number], input[type=email], input[type=password] , input[type=date]{
	font-family: inherit;
	border: 1px solid #333;
	font-size: 15px;
	width: 80% !important;
	background: #ECF0F1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 12px 10px 12px 10px;
	webkit-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	border-color: rgba(0, 0, 0, 0)!important;
	margin: 0px 0px 15px 0px;
	outline: none;
}
select:focus, input[type=text]:focus, input[type=file]:focus, input[type=number]:focus, input[type=email]:focus, input[type=password]:focus, select:hover, input[type=text]:hover, input[type=file]:hover, input[type=number]:hover, input[type=email]:hover, input[type=password]:hover {
	outline: none;
}
input[type=submit] {
	background-color: #F3F3F3;
	background-image: -webkit-linear-gradient(top, #FEFEFE, #F3F3F3);
	background-image: -moz-linear-gradient(top, #fefefe, #f3f3f3);
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #444;
	cursor: pointer;
	font: normal 11px Arial;
	margin-right: -1px;
	min-width: 18px;
	padding: 8px 7px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #F2F2F2;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 13px;
	text-transform: uppercase;
}
body {
	background-color: #FFF !important;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-size: 16px;
	text-shadow: rgba(0, 0, 0, 0.01) 0 0 0;
}
.error {
	color: red;
	
	padding: 8px 75px 8px 0px;
 //width:100px;
}
.main_table {
	border : 1px solid #000;
	background: #FFFFFF;
	width: 82%;
}
.sl_no {
	width: 10px;
}
.require_data {
	width: 50px;
}
.campaign {
	width: 50px;
}
.source {
	width: 50px;
}
.domain {
	width: 50px;
}
.gender {
	width: 50px;
}
.salary {
	width: 50px;
}
.age {
	width: 50px;
}
.country {
	width: 50px;
}
.state {
	width: 50px;
}
.city {
	width: 50px;
}
.download {
	width: 50px;
}
.entity {
	width: 9.0%;
}
.header {
	background: #333333;
	color: #FFFFFF;
}
.data_body {
	background: #FFFFFF;
	border: 1px solid #333333;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.login_text {
	font-size: 20px;
	font-family: inherit;
	text-transform: uppercase;
}
.btn {
	background: #EFC34A;
	padding: 10px;
	font-size: 12px;
	text-transform: uppercase;
	width: 101%;
	color: #FFF;
	border: 3px solid #EFC34A;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 4px;
}
#para1 {
	margin-top: 0px;
	text-align: left;
	color: #C0C0C0;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFF), color-stop(100%, #F2F2F2));
	background: -webkit-linear-gradient(top, #FFF,#F2F2F2);
	background: -moz-linear-gradient(top, #ffffff,#f2f2f2);
	background: -o-linear-gradient(top, #ffffff,#f2f2f2);
	background: linear-gradient(top, #ffffff,#f2f2f2);
	background-image: linear-gradient(to bottom, #FFF 0%,#F2F2F2 100%);
	font-size: 25px;
	font-family: 'Open Sans', verdana;
	text-transform: uppercase;
	margin: 0px;
	padding: 10px 0px 11px 30px;
}
body {
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #C0C0C0;
	margin: 0px;
}
.heading {
	background-color: gray;
}
a {
	font: 12px/30px 'Open Sans', Georgia, serif;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
}
.header_menu {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FEDE97), color-stop(100%, #ECB21F));
	background-image: -webkit-linear-gradient(#66CC66  0%,#669900 100%);
	background-image: -moz-linear-gradient(#66cc66 0%,#669900 100%);
	background-image: -o-linear-gradient(#66cc66 0%,#669900 100%);
	background-image: linear-gradient(#66CC66 0%,#669900 100%);
	background-color: #EEBA37;
	border-color: #EFC34A;
	border-top: 1px solid #DDD;
	
	line-height: 0;
	margin: 0 -15px;
	overflow: hidden;
	padding: 0px 0px 0px 48px;
}
.header_menu li.selected, .header_menu li:hover {
	border-color: #EEBA37;
	background-color: #339900;
	background-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px inset;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 3px inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px inset;
}
.header_menu li ul li.selected, .header_menu li ul li:hover {
	border-color: #D6D6D6;
	background-color: #F3F3F3;
	background-image: -webkit-linear-gradient(top, #FEFEFE, #F3F3F3);
	background-image: -moz-linear-gradient(top, #fefefe, #f3f3f3);
	color: #444;
	cursor: pointer;
	box-shadow:none;
}
.header_menu li a {
	color: #000;
}
.header_menu li ul li a {
	color: #333;
}
.header_menu li ul {
	display: none;
	padding: 0px;
	margin: 8px 0px 0px -11px;
	position: absolute;
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.header_menu li ul li {
	background: #999;
	min-width: 150px;
}
.header_menu li:hover > ul {
	display: block;
}
.header_menu li {
	float: left;
	padding: 8px 25px 8px 12px;
}
.header_menu li ul li {
	clear: both;
	padding: 1px 0px 5px 15px;
	height: 30px;
	border-bottom: 1px solid #D6D6D6;
}
.header_menu li ul li {
	background: #F1F1F1;
	min-width: 150px;
}
.header_menu li a {
	font-size: 13px;
	font-family: inherit;
}
#pagename {
	background: #F7F7F7;
	padding: 10px 0px 10px 30px;
	text-align: left;
	text-transform: uppercase;
}
.ui-widget {
	font-size: 12px !important;
}
h2 {
	padding: 0px;
	margin: 0px;
}
.big_message {
	font-size: 40px;
	text-align: center;
	margin: 0px auto;
	margin-top: 50px;
}
#clock {
	position: relative;
	width: 155px;
	height: 200px;
	margin: 20px auto 0 auto;
	background: url(../images/clockface.jpg);
	list-style: none;
}
#sec, #min, #hour {
	position: absolute;
	width: 10px;
	height: 200px;
	top: 0px;
	left: 95px;
}
#sec {
	background: url(../images/sechand.png);
	z-index: 3;
}
#min {
	background: url(../images/minhand.png);
	z-index: 2;
}
#hour {
	background: url(../images/hourhand.png);
	z-index: 1;
}
.login_container {
	margin: 0px auto;
	border: 5px solid #EBEBEB;
	width: 30%;
	padding: 20px 20px 0px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 30%;
	margin-top:10%;
}
.login_sp_btn{
	padding:10px !important;
}
.login_container input{
	width:100% !important;
}

#paging {
	float: right;
	width: auto;
	background: 0;
	padding: 0
}
#paging ul li.num_off a {
	margin: 0;
	padding: 5px 8px 6px;
	color: #333;
	text-shadow: none
}
#paging ul li.num_off a:hover {
	color: #FFFFFF
}
.num_off {
	float: left;
	width: auto;
	padding: 4px 3px 4px 3px;
	list-style: none;
	margin: 2px;
	font-weight: 700;
	font-size: 11px;
	background-color: #87BBFC;
	border-color: #096EB3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.num_off:hover, .num_off:focus {
	border-color: #135CA7;
}
.num_on {
	float: left;
	list-style: none;
	color: #9E9E9E;
	border: 1px solid #D5D5D5;
	background:#FAFAFA;
	font-weight: 500;
	font-size: 11px;
	margin: 2px;
	padding: 3px 10px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	overflow: visible
}


