@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
/*Developers Css */

.div_hidden {
    display: none;
}

.div_show {
    isplay: block;
}

/*smiley css */

.happy {
    background: url('../images/happy.jpg') center;
    background-size: cover;
}

.neutral {
    background: url('../images/neutral.jpg') center;
    background-size: cover;
}

.sad {
    background: url('../images/sad.jpg') center;
    background-size: cover;
}

/*Designer Css*/

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #000;
    background: url(../images/bg.png) right top no-repeat #f8f8f8 fixed;
}

h2 {
    font-size: 24px;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.hide_d {
    display: none;
}

.show_d {
    display: block;
}

.wrapper {
    box-shadow: 0px 0px 30px #e6e6e6;
    width: 92%;
    background: #fff;
    margin: auto;
}

.box_container {
    margin-bottom: 70px
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #000;
}

.carousel-indicators li.active {
    background-color: #000;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #f4511e;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    background-color: #ffd800;
    z-index: 25;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    width: 92%;
    margin: auto;
    height: 75px;
    text-transform: uppercase
}

.newstalkie{
    background-color: #0C3851;
}

.newstalkieFooter{
    background-color: #0C3851 !important;
}



.navbar li a,
.navbar .navbar-brand {
    color: #000 !important;
    font-weight: 600
}

.newstalkie li a{
    color: #fff !important;
    font-weight: 600
}

.whiteTxt{
    color: #fff !important;
}

.new{
    background: url(../images/new.gif) 55px 10px no-repeat;
}

.latest{
    background: url(../images/latest.gif) 80px 10px no-repeat;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #000 !important;
    border-bottom: 5px solid #000
}

.newstalkie li a:hover,
.newstalkie li.active a {
    color: #fff !important;
    border-bottom: 5px solid #2dabf4;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.submit_story {
    position: absolute;
    margin: 22px 110px;
}

.submit_story_mobile {
    position: absolute;
    margin: 22px 110px;
    display: none
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    visibility: visible;
}

.breadcrumbs {
    text-align: center;
    color: #b1b1b1;
    font-size: 13px;
}

.breadcrumbs a {
    color: #808080;
    text-decoration: none;
    font-size: 18px;
}

.breadcrumbs a:hover {
    color: #808080;
    text-decoration: underline
}

.view-btn {
    border-radius: 0px;
    color: #000;
    font-weight: 400;
    padding: 10px 30px;
    background: #e6e6e6;
    border: 1px solid rgb(206, 205, 205)
}

.view-btn:hover {
    background: #ffd800;
    color: #000;
    border: 1px solid #ffd800
}

.view-btn:focus {
    background: #fca30b;
    color: #000;
    border: 1px solid #ffd800
}

.view-btn:active {
    background: #fca30b;
    color: #000;
    border: 1px solid #ffd800
}

/* New CSS Added Newtalkie Changes Start */

.newstalkieImageSec img{
    height: 75px;
    position: relative;
    top: -13px;
}


/* New Css For Newstalkie Changes  End*/

.banner_container {
    margin-top: 75px;
    padding: 30px 30px 30px 30px;
}

.banner_container .banner_title {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin: 10px 0px;
}

.banner_container .latest_news {
    margin-bottom: 10px
}

.banner_container .latest_news h2 {
    color: #000;
    font-size: 19px;
    font-weight: 600;
    line-height: 13px;
    height: 19px;
    margin: 00px 0px;
    border-bottom: 6px solid #ffd800;
    padding-right: 20px;
    display: -webkit-inline-box;
}

.banner_container .photo {
    margin-bottom: 0px
}

.banner_container .info {
    margin: 0px
}

.banner_container .info .ln_title {
    margin-bottom: 10px;
}

.banner_container .info .ln_title .ln_subject_name {
    color: #000;
    font-size: 12.5px;
    line-height: 18px;
    margin: 5px 0px;
    letter-spacing: 0.4px
}

.banner_container .inner_banner_bg {
    height: 175px;
    width: 100%;
    margin-bottom: 30px;
}

.banner_container .inner_banner_bg .meme_banner {
    background: url(../images/category_banner/meme-banner.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .meme_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .contact_banner {
    background: url(../images/category_banner/contact-us.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .contact_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .about_banner {
    background: url(../images/category_banner/about-us.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .about_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .animals_banner {
    background: url(../images/category_banner/animals.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .animals_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .science_banner {
    background: url(../images/category_banner/science-and-technology.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .science_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .travel_banner {
    background: url(../images/category_banner/travel-and-adventure.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .travel_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .health_banner {
    background: url(../images/category_banner/Health-&-Fitness.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .health_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .lifestyle_banner {
    background: url(../images/category_banner/lifestyle.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .lifestyle_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .sports_banner {
    background: url(../images/category_banner/sports.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .sports_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .news_banner {
    background: url(../images/category_banner/news.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .news_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .inspiration_banner {
    background: url(../images/category_banner/inspiration.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .inspiration_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .history_banner {
    background: url(../images/category_banner/history&Culture.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .history_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .politics_banner {
    background: url(../images/category_banner/politics.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .politics_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .tag_banner {
    background: url(../images/category_banner/tag.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .tag_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .entertainment_banner {
    background: url(../images/category_banner/entertainment.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .entertainment_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .video_banner {
    background: url(../images/category_banner/video.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .video_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .editors_banner {
    background: url(../images/category_banner/editors.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .editors_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .environment_banner {
    background: url(../images/category_banner/environment.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .environment_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .movies_banner {
    background: url(../images/category_banner/movies.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .movies_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .inner_banner_bg .food_banner {
    background: url(../images/category_banner/food.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .food_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}

.banner_container .meme_banner_title {
    background: #efefef;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px
}

.banner_container .tag_container {
    width: 100%;
    margin-bottom: 30px;
}

.banner_container .tag_container .tags {
    background: #efefef;
    padding: 3px 8px;
    border-radius: 5px;
    margin: 0px 10px 10px 0px;
    color: #7b7f84;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.banner_container .tag_container .tags:hover {
    background: #ffd800;
    color: #000;
}

.banner_container .mems_box {
    position: relative;
    margin-bottom: 30px;
}

.banner_container .mems_box h2 {
    font-size: 20px;
    color: #030300;
    font-weight: 600;
    margin-bottom: 15px;
}

.banner_container .mems_box .mems_img {
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.banner_container .mems_box .mems_share {
    background: #efefef;
    text-align: center;
    font-size: 13px;
    color: #169e0c;
    padding: 10px;
}

.banner_container .mems_box .mems_share .watsap_logo {
    color: #000;
    height: 25px;
    display: inline-block;
    line-height: 25px;
}

.banner_container .mems_box .mems_share .watsap_text {
    color: #169e0c;
    height: 25px;
    display: inline-block;
    line-height: 25px;
}

.viral_stories {
    margin-bottom: 10px
}

.viral_stories h1 {
    color: #000;
    font-size: 19px;
    font-weight: 600;
    line-height: 13px;
    height: 19px;
    margin: 00px 0px;
    border-bottom: 6px solid #ffd800;
    padding-right: 20px;
    display: -webkit-inline-box;
}

.viral_stories .col-item {
    margin-bottom: 10px
}

.viral_stories .col-item .info .price {
    color: #000;
    font-size: 17px;
    line-height: 25px;
    margin: 10px 0px 25px;
    letter-spacing: 0.2px;
    FONT-WEIGHT: 600;
    text-align: left;
    height: 55px
}

.editors_pick_panel {
    margin: 40px 0px;
    padding-top: 70px
}

.editors_pick_panel h1 {
    color: #000;
    font-size: 19px;
    font-weight: 600;
    line-height: 13px;
    height: 19px;
    margin: 00px 0px 15px;
    border-bottom: 6px solid #ffd800;
    padding-right: 20px;
    display: -webkit-inline-box;
}

.editors_pick_panel .editors_pick {
    width: 100%;
}

.editors_pick_panel .editors_pick .editor_pick_videos {
    float: left;
    width: 50%;
    height: 90px;
    margin-bottom: 20px;
}

.editors_pick_panel .editors_pick .editor_pick_videos:hover {
    background-color: #f7f8f9;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.editors_pick_panel .editors_pick .editor_pick_videos .video_lists_image {
    float: left;
    width: 40%;
    margin-right: 2%
}

.editors_pick_panel .editors_pick .editor_pick_videos .video_lists_name {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    float: left;
    width: 58%;
}

.editors_pick_panel .editors_pick .editor_pick_videos .video_listsz_name1 {
    color: #a2a2a2;
    font-size: 12px;
    font-weight: 300;
    float: left;
    width: 58%;
}

.bollywood_container {
    background: url(../images/video_bg.jpg) repeat #1e212d;
    padding-right: 15px;
}

.bollywood_container h1 {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    line-height: 13px;
    height: 19px;
    margin: 30px 0px 15px;
    border-bottom: 6px solid #ffd800;
    padding-right: 20px;
    display: -webkit-inline-box;
}

.bollywood_container .video_block {
    display: inline-block;
    width: 100%;
    padding-right: 15px;
}

.bollywood_container .video_name {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 15px;
}

.bollywood_container .video_name p {
    float: left;
    margin: 00px 0px 0px;
    width: 80%
}

.bollywood_container .video_name .button {
    float: right;
    margin: 10px 0px 0px;
    width: 20%;
    text-align: right
}

.bollywood_container .video_name .button .btn-primary {
    background: #ffd800;
    border: 1px solid #ffd800;
    border-radius: 0px;
    color: #000;
    font-weight: 600;
    padding: 10px 30px;
}

.bollywood_container .video_name .button .btn-primary:hover {
    background: #fca30b;
    border: #fca30b 1px solid
}

.bollywood_container .video_slides {
    background: #f7f8f9;
    padding: 0px 30px;
    padding-bottom: 15px;
}

.bollywood_container .video_slides h1 {
    color: #000
}

.bollywood_container .video_slides .video_lists {
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
}

.bollywood_container .video_slides .video_lists .video_lists_image {
    float: left;
    width: 40%;
    margin-right: 2%
}

.bollywood_container .video_slides .video_lists .video_lists_name {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    float: left;
    width: 58%;
    margin-top: -5px;
}

.bollywood_container .video_slides .video_lists .video_lists_name1 {
    color: #a2a2a2;
    font-size: 12px;
    font-weight: 300;
    float: left;
    width: 58%;
}

/*footer page css*/

.page-footer {
    background: #ffd800;
    margin-top: 50px
}

.page-footer .col-md-3 {
    padding: 30px;
}

.page-footer .col-md-3 .title {
    color: #000;
    font-weight: 600;
    font-size: 16px
}

.newstalkieFooter .col-md-3 .title {
    color: #fff !important;
    font-weight: 600;
    font-size: 16px
}

.page-footer .col-md-3 ul {
    padding: 0px
}

.page-footer .col-md-3 ul li {
    list-style-type: none;
    padding: 0px;
    margin: 0px
}

.page-footer .col-md-3 ul li a {
    color: #000;
    font-size: 13px
}

.newstalkieFooter .col-md-3 ul li a {
    color: #fff !important;
    font-size: 13px
}

.page-footer .footer-copyright {
    background: #000;
    text-align: center;
    color: #ffd800;
    padding: 10px
}

.newstalkieFooter .footer-copyright {
    background: #062435;
    text-align: center;
    color: #2dabf4;
    padding: 10px
}

/*inner page css*/

.blog_desc {
    margin: 0px;
    width: 100%
}

.blog_desc h1 {
    color: #000;
    text-align: center;
    font-weight: 500;
    margin: 50px 150px 20px;
    line-height: 50px;
    font-size: 38px;
}

.blog_desc .writer {
    color: #989898;
    text-align: center;
    font-size: 14px;
}

.blog_desc .writer .profile_pic {
    display: inline-block;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    border: solid 1px #e2e2e2;
    margin: 0px 10px;
}

.blog_desc .blog_banner {
    width: 100%;
    margin: 20px 0px 30px
}

.blog_desc .blog_banner img {
    margin: auto;
    text-align: center;
}

.blog_desc .blog_content {
    max-width: 850px;
    margin: auto;
    text-align: left
}

.blog_desc .blog_content h3 {
    font-weight: bold;
    margin: 50px 0px 20px
}

.blog_desc .blog_content h4 {
    font-weight: bold;
    margin: 30px 0px 20px
}

.blog_desc .blog_content p {
    margin-bottom: 20px;
    font-size: 17px;
    color: #0b131c;
    text-align: justify;
    width: 100%;
    display: inline-block;
}

.blog_desc .blog_content p .img_right {
    float: right;
    margin: 10px 0px 20px 20px;
}

.blog_desc .blog_content p .img_left {
    float: left;
    margin: 10px 20px 20px 00px;
}

.blog_desc .blog_content ul.list-points {
    width: 100%;
    margin-bottom: 40px;
}

.blog_desc .blog_content ul.list-points li {
    width: 100%;
    line-height: 36px
}

.blog_desc .blog_tags a:hover {
    background: #efefef
}

.blog_desc .feedback {
    width: 70%;
    margin: 5% 15% 10%;
    text-align: left;
    font-size: 12.4px;
    letter-spacing: 0.2px;
}

.blog_desc .feedback strong {
    font-size: 20px;
    font-weight: 400;
}

.blog_desc .feedback a {
    border: 1px #777777 dotted;
    padding: 2px 5px;
    margin: 5px;
    text-transform: capitalize;
    color: #777777;
    text-decoration: none
}

.blog_desc .feedback a:hover {
    background: #efefef
}

/*search box css*/

.search_box {}

.search_box .search_name {
    width: 100%;
    font-size: 23px;
    margin-bottom: 50px
}

.search_box .search_name span {
    text-shadow: 2px 2px #ffd800c2;
    text-transform: uppercase;
    font-weight: 600
}

.search_box .search_items {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.search_box .search_items:hover {
    background: #efefef
}

.search_box .search_items .items_name {
    font-size: 21px;
    line-height: 30px;
    margin: 0px;
    color: #000;
    padding: 10px 0px;
}

/*new registration css*/

.new_registration {
    width: 100%
}

.new_registration .banner {
    background: url(../images/register_banner_bg.jpg) no-repeat left top #656a70;
    height: 345px;
    padding: 20px;
    margin: 20px;
}

.new_registration .banner .cartoon {
    margin: 22px 00px 0px 10px
}

.new_registration .banner .registrationbox {
    background: #fff;
    border: #5d616a26 solid 8px;
    padding: 40px;
    text-align: left;
    margin-bottom: 250px;
    margin-top: 20px
}

.new_registration .banner .registrationbox label {
    color: #657480;
    font-weight: 600;
    width: 100%
}

.new_registration .banner .registrationbox label .error {
    color: #657480;
}

.new_registration .banner .registrationbox label .error_1 {
    color: red;
}

.new_registration .banner .registrationbox .textbox {
    border-radius: 0px;
    border: 2px solid #e7e7e9;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    padding: 8px 8px;
    width: 100%;
    display: inline-block;
}

.new_registration .banner .registrationbox .textbox:focus {
    border-color: #a5afb7;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(165, 175, 183);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(165, 175, 183);
}

.new_registration .banner .registrationbox .submit_button {
    background: #ffd800;
    border-radius: 0px;
    border: #ffd800;
    padding: 15px 60px;
    font-size: 17px;
    margin-top: 20px;
}

.new_registration .banner .registrationbox .story_submit_successfully {
    text-align: center;
    margin: 80px 0px 150px
}

/*Modal css*/

.modal-open .modal .blog-modal-dialog {
    width: 730px
}

.modal-open .modal .blog-modal-dialog .modal-content {
    height: 440px
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-left {
    background: #ffd800;
    padding: 61.5px 10px
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-right {
    background: #fff
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-right .thank_you {
    text-align: center;
    font-size: 26px;
    margin: 45% 0%;
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-right .popup_loader {
    text-align: center;
    vertical-align: middle;
    background: #fff;
    background-position: center;
    height: 100%;
    width: 100%;
    float: left;
    margin: 34% 0%;
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe {
    text-align: center
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe .form-group {
    margin: 0px 50px 10px
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe h2 {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin: 60px 0px 10px;
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe h2 span {
    font-size: 27px;
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe .form-control {
    border-radius: 0px;
    border: 2px solid #e7e7e9;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    padding: 8px 8px;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe .form-control:focus {
    border-color: #a5afb7;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(165, 175, 183);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(165, 175, 183);
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe .subscribe_btn {
    background: #ffd800;
    text-align: center;
    color: #000;
    border-radius: 0px;
    width: 100%;
    margin: 0px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

.modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe .note_subscribe {
    color: #bababa;
    font-family: Cambria, "Times New Roman", "serif";
    font-style: italic;
    margin: 10px
}

/*Search Bar Css*/

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    z-index: 10000;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #ffd800;
    background: rgba(0, 0, 0, 0);
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -20px;
    padding-left: 30px;
    padding-right: 00px;
    outline: none;
    text-transform: capitalize
}

#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
    color: #000;
    background-color: #ffd800;
    border-color: #ffd800;
    border-radius: 0px;
    font-size: 22px;
    padding: 5px 25px;
    font-family: Montserrat, sans-serif
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #000;
    background-color: #ffd800;
    border-color: #ffd800;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
    text-shadow: 0 !important;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


.webView{
    display: block;
}

.mobView{
    display: none;
}


@media screen and (max-width: 768px) {
    .navbar {
        width: 100%
    }
    .wrapper {
        box-shadow: 0px 0px 30px #e6e6e6;
        width: 100%;
        background: #fff;
        margin: auto;
    }

    .newstalkie .mobile_Nav {
        background-color: #0C3851;
    }

    .mobile_Nav {
        background-color: #ffd800;
    }

    .latest {
        background: url(../images/latest.gif) 112px 10px no-repeat;
    }
    
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    .submit_story {
        display: none;
    }
    .banner_container .latest_news {
        margin-bottom: 20px
    }
    .viral_stories {
        margin-bottom: 20px
    }
    .editors_pick_panel .editors_pick .editor_pick_videos {
        width: 100%;
    }
    .banner_container .banner_title {
        font-size: 18px;
    }
    .banner_container .latest_news {
        margin-top: 40px
    }
    .bollywood_container .video_name p {
        width: 100%
    }
    .bollywood_container .video_name .button {
        width: 100%;
        text-align: center;
        margin: 20px 0px 0px
    }
    .bollywood_container .video_name .button .btn-primary {
        background: #ffd800;
        border: 1px solid #ffd800;
        border-radius: 0px;
        color: #000;
        font-weight: 600;
        padding: 10px 30px;
    }
    .bollywood_container .video_name .button .btn-primary:hover {
        background: #fca30b;
        border: #fca30b 1px solid
    }
    .bollywood_container .video_slides {
        background: #f7f8f9;
        padding: 0px 30px;
        padding-bottom: 15px;
    }
    .banner_container .info .ln_title {
        margin-bottom: 20px;
    }

    .webView{
        display: none;
    }
    
    .mobView{
        display: block;
    }
    
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
    .blog_desc h1 {
        margin: 35px 0px;
        line-height: 33px;
        font-size: 24px;
    }
    .blog_desc .blog_content,
    .blog_desc .blog_tags,
    .blog_desc .feedback {
        width: 90%;
        margin: 0% 5%;
    }
    .new_registration .banner {
        margin: 0px;
        padding: 20px 0px;
        height: auto
    }
    .new_registration .banner .cartoon {
        margin: 0px 00px 0px 20px
    }
    .new_registration .banner .registrationbox {
        padding: 20px;
        margin-bottom: 00px;
    }
    .submit_story_mobile {
        position: relative;
        display: inline-block;
        height: 30px;
        top: 80px;
    }
    button.close {
        padding-top: 0px;
    }
    /*Modal css*/
    .modal-open .modal .blog-modal-dialog {
        width: 95%;
        padding: 0px;
        text-align: center;
    }
    .modal-open .modal .blog-modal-dialog .modal-content .modal-left {
        background: #ffd800;
        padding: 0px;
        display: none
    }
    .modal-open .modal .blog-modal-dialog .modal-content .modal-left img {
        width: 40%;
    }
    .modal-open .modal .blog-modal-dialog .modal-content .modal-right {
        background: #fff;
        padding-bottom: 30px
    }
    .modal-open .modal .blog-modal-dialog .modal-content .modal-right .popup_loader {
        margin: 10% 0%;
    }
    .modal-open .modal .blog-modal-dialog .modal-content .modal-right .thank_you {
        text-align: center;
        font-size: 26px;
        margin: 0% 0%;
        padding: 24% 5%;
    }
    .modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe .form-group {
        margin: 0px 50px 10px
    }
    .modal-open .modal .blog-modal-dialog .modal-content .modal-right .form-subscribe h2 {
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        margin: 30px 0px 10px;
    }
    /*video css*/
    .bollywood_container {
        padding-right: 30px !important;
    }
    .bollywood_container .video_block {
        padding-right: 0px !important
    }
    .bollywood_container .video_slides {
        margin-bottom: 15px !important;
    }

    .webView{
        display: none;
    }
    
    .mobView{
        display: block;
    }
}

/*Popup City Select css*/

.suggesstion-box {
    position: relative;
    top: -22px;
}

.suggesstion-box #country-list {
    list-style: none;
    max-height: 180px;
    overflow: auto;
    position: absolute;
    width: 100%;
    text-align: left;
    padding-left: 0;
    background: #fff;
    border: 2px solid #e7e7e9;
}

.suggesstion-box #country-list li {
    padding-left: 7px;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 3px;
    padding-bottom: 3px;
}

.suggesstion-box #country-list li:hover {
    background: #f2f2f2;
}

.subscribe-block {
    background: #FF9800;
    padding: 25px 0;
    position: relative;
}

.subscribe-block .form-subscribe {
    text-align: center
}

.subscribe-block .form-subscribe .form-group {
    margin: 0px 25px 10px;
}

.subscribe-block .form-subscribe h2 {
    font-size: 16px;
    line-height: 25px;
    margin: 0 0px 10px;
    color: #ffff;
    font-weight: bold;
}

.subscribe-block .form-subscribe h2 span {
    font-size: 27px;
}

.subscribe-block .form-subscribe .form-control {
    border-radius: 0px;
    border: 2px solid #e7e7e9;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    padding: 8px 8px;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px
}

.subscribe-block .form-subscribe .form-control:focus {
    border-color: #a5afb7;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(165, 175, 183);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(165, 175, 183);
}

.subscribe-block .form-subscribe .subscribe_btn {
    background: #000;
    text-align: center;
    color: #fff;
    border-radius: 0px;
    width: 100%;
    margin: 0px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

.subscribe-block .form-subscribe .note_subscribe {
    color: #bababa;
    font-family: Cambria, "Times New Roman", "serif";
    font-style: italic;
    margin: 10px
}
.thank_you {
    text-align: center;
    font-weight: bold;
}
.subscribe-block .popup_loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    background: #fff;
    border: 1px solid #ffc60a;
}
.subscribe-block .popup_loader img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;    
}

.page-not-found-block{
    position: relative;
    width: 65%;
    margin: 0 auto;
}
.page-not-found-block img{
    width: 100%;
}
.page-not-found-block .button-block{
    text-align: center;
    margin: 30px 0px;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
}
.page-not-found-block .button-block a{
    color: #000000;
    background-color: #ffb200;
    border-color: #000000;
    border-width: 6px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

#loader_message{
    clear: both;
    display: block;
    text-align: center; 
}

#loader_message .btn{
    color: #000;
    background-color: #ffd800;
    font-weight: bold;
}
#loader_message .btn:focus{
    outline: none;
}

.banner_container .inner_banner_bg .fifa_banner {
    background: url(../images/category_banner/fifa.jpg) no-repeat center top #e6e6e6;
    height: 100%;
}

.banner_container .inner_banner_bg .fifa_banner h1 {
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 300;
    bottom: 20px;
    position: absolute;
    left: 40px;
}