
@font-face {
    font-family: 'metropolis regular';
    src: url('../fonts/Metropolis-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolis bold';
    src: url('../fonts/Metropolis-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolis semibold';
    src: url('../fonts/Metropolis-SemiBold.otf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "metropolis regular", regular  !important;
}

/* Common CSS Starts Here */

h2{
    font-size: 28px;
}

.boldFont{    
    font-family: "metropolis bold", bold  !important;
}

.semiBold{
    font-family: "metropolis semibold", semibold  !important;
}

.paddingZero{
    padding: 0px;
}

.paddingZeroLeft{
    padding-left: 0px;
}

.paddingZeroRight{
    padding-right: 0px;
}

.marginTop10{
    margin-top: 10px;
}

.marginTop4em{
    margin-top: 4em;
}

.marginZero{
    margin: 0px;
}

.marginTop15{
    margin-top: 15px;
}

.marginBottom15{
    margin-bottom: 15px;
}

.paddingBottom15{
    padding-bottom: 15px;
}

.bottomBorder{
    border-bottom: 1px solid #ddd;
}

.maxHeight15{
    max-height: 130px;
}

.whiteTxt{
    color: #fff;
}

.blueText{
    color: #2dabf4 !important;
}

.img-responsive{
    display: inline-block;
}

.font18{
    font-size: 18px;
}

.font30{
    font-size: 30px;
}

.headerMargin{
    margin-top: 90px !important;
}

.newHeaderMargin{
    margin-top: 120px;
}

.advHeaderMargin{
    margin-top: 110px !important;
}

.activeUnderline{
    text-decoration: underline !important;
    text-decoration-color: #2dabf4 !important;
    text-decoration-style: solid !important;
}


hr{
    margin: 20px 18px 5px 18px;
}

.linearBackground{
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

.goToHome{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

/* Common CSS Ends Here */

.container-fluid{
    padding: 0 15px;
}

.row{
    margin: 0 !important;
}


/* Header CSS Starts Here */

header{
    background-color: #0C3851;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.logoSec img{
    height: 92px;
}

.headerBottomSec{
    margin-top: 2px;
}

.headerBottomSec ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #062435;
}

.headerBottomSec li {
    float: left;
}

.headerBottomSec li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 19px;
    text-decoration: none;
    font-size: 13px;
}

.headerBottomSec li a:hover {
    background-color: #111111;
}

.userSec{
    float: right;
    display: inline-block;
    padding: 10px 0;
}

.weatherSec{
    float: right;
    padding: 10px 0;
    display: inline-block;
    margin-right: 2em;
}

/* Header CSS Ends Here */


/* AdvertiseSec Style Starts Here */

.advertiseSec{
    background-color: #ECECEC;
    padding: 2em 0 5em 0;
    text-align: center;
}

.categoryAdvertiseSec{
    background-color: #ECECEC;
    padding: 2em 0 8em 0;
    text-align: center;
}

/* Advertise Style Ends Here */


/* News Sec One Style Starts Here */

.indiaTopSecNews{
    padding-top: 1em;
}

.newsSecOne{
    color: #fff;
    margin-top: -3em;
}

.newsBadge{
    padding: 10px 1em;
    background-color: #2DABF4;
    border-radius: 5px;
    color: #fff;
}

.sponsredBadge{
    padding: 5px 10px;
    background-color: #2DABF4;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
}


.bigNewsImageSec{
    height: 350px;
    max-height: 350px;
}


.bigNewsImageSec img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bigNewsContentSec{
    position: absolute;
    bottom: 0;
    padding-left: 1em;
}

.smallNewsImageSection{
    height: 168px;
    max-height: 168px;
}

.smallNewsImageSection img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.smallNewsContentSection{
    position: absolute;
    bottom: 0;
    padding: 0 8px;
}

.smallNewsContentSection h5{
    line-height: 20px;
}

.smallImageBottomSec{
    margin-top: 1em;
}

/* News Sec One Style Ends Here */

/* News Section Two Styles Starts Here */

.newsSecTwo{
    margin-top: 2em;
}

.headingH5{
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.smallNewsSecondImageLeftSection img{
    width: 100%;
}

.smallNewsSecondImageMiddleSection img{
    width: 100%;
}

.secondNewMiddleTopSec{
    padding: 0;
}

.secondNewMiddleTopSec{
    padding: 0 0 12px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
}

.smallNewsSecondContentMiddleSection{
    margin: 1em 0;
}

.smallNewsSecondImageBottomSection{
    height: 150px;
    max-height: 150px;
}

.smallNewsSecondImageBottomSection img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.smallNewsSecondBottomContentSection{
    position: absolute;
    bottom: 0;
    padding: 0 8px;
    color: #fff;
    width: 94%;
    border-radius: 5px;
}

.smallNewsSecondImageRightSection{
    height: 200px;
    max-height: 200px;
}

.smallNewsSecondImageRightSection img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.smallNewsSecondRIghtContentSection {
    position: absolute;
    bottom: 0;
    padding: 0 8px;
    color: #fff;
}



/* News Section Two Styles Ends Here */


/* News Section Three Starts Here */ 

.newsSecThree{
    margin-top: 3em;
}

.advSec img{
    width: 100%;
}

.newsThreeImageSec{
    height: 230px;
    max-height: 230px;
}

.newsThreeImageSec img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.newsThreeImageSecInner{
    position: absolute;
    bottom: 60px;
    padding-left: 1em;
    color: #fff;
    width: 100%;
}

.newsThreeBottomImageSection{
    height: 160px;
    max-height: 160px;
}

.newsThreeBottomImageSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.newsThreeBottomContentSection p{
    margin: 1em 0;
}

/* News Section Three Ends Here */


/* News Section Four Style Starts Here */

.newsSecFour{
    margin-top: 3em;
}

.newsSecFour h3{
    margin-bottom: 15px;
}

.greyBg{
    background-color: #F1F1F1;
}

.newsFourImageSec{
    height: 260px;
}

.newsFourImageSec img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.newsFourContentSec{
    position: absolute;
    bottom: 0;
    padding: 0 8px;
    color: #fff;
    width: 95%;
    border-radius: 5px;
}


/* News Section Four Style Ends Here */


/* Mid AdvSection Styles Ends*/

.midAdvSec{
    text-align: center;
    margin: 2em 0;
}

/* Mid AdvSection Styles Ends*/


/* News Section Five Style Starts Here */

.newsSecFive{
    margin-top: 3em;
}

.newsFiveContentSec{
    position: absolute;
    bottom: 0;
    padding: 0 8px;
    color: #fff;
    width: 100%;
    border-radius: 5px;

}

.newsFiveRightSection{
    margin-bottom: 10px;
    float: left;
    height: 85px;
    max-height: 85px;
    padding: 0;
}

.newsFiveRightImageSection{
    height: 70px;
    max-height: 70px;
}

.newsFiveRightImageSection img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.newsFourImageSec
/* News Section Five Style Ends Here */



/* Corona News Section Stats Here */


.coronaImageTopContentSec{
    margin-top: 10px;
}

.coronaTopLeftSec {
    padding: 0 0 12px 0;
    margin-bottom: 12px;
}

.parentTipsSection{
    padding: 15px;
    background-color: #F7F8FA;
    border-radius: 5px;
    height: 350px;
    overflow-y: scroll;
}

.topCollaspseSection a{
    width: 100%;
    text-align: left;
    color: #000;
    background-color: #fff;
    margin: 5px 0;
}

.answerSec {
    padding: 0 10px;
    margin: 10px 0;
}

.faqShowIcon{
    float: right;
}

.bigNewsParentSec{
    position: relative;
}

.coronaMidNewsContentSec{
    position: absolute;
    bottom: 0;
    padding-left: 1em;
}

.coronaMiddleNewsContent h5{
    line-height: 20px;
}

.hospitalSec ul{
    padding-inline-start: 14px;
}

.parentTestingCenter{
    padding: 0;
    background-color: #ffffff;
    border-radius: 5px;
    height: 350px;
    overflow-y: scroll;
}

.hospitalCollapseSec a{
    width: 100%;
    text-align: left;
    color: #000;
    background-color: #f1f1f1;
    margin: 5px 0;
}

.parentHelplineSection{
    padding: 0;
    background-color: #ffffff;
    border-radius: 5px;
    height: 350px;
    overflow-y: scroll;
}

.helplineTable table{
    font-size: 12px;
}

.parentFaqSec{
    padding: 0;
    background-color: #ffffff;
    border-radius: 5px;
    height: 350px;
    overflow-y: scroll;
}

.faqCollapseSec a{
    width: 100%;
    text-align: left;
    color: #000;
    background-color: #fff;
    margin: 5px 0;
}

.faqCollapseSec .faqShowIcon{
    float: left;
    font-size: 20px;
    margin-right: 10px;
    margin-top: -3px;
}

.faqCollapseSec .answerSec{
    padding: 0 3em;
}


.hospitalSec ::-webkit-scrollbar {
    height: 5x;
    width: 10px;
    margin: 5px;
    padding: 10px;
}

.hospitalSec ::-webkit-scrollbar-track {
    background: #E5EBFF;
}

.hospitalSec ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 25px;
}

.hospitalSec ::-webkit-scrollbar-thumb:hover {
    background: #0C3851; 
}

.helplineSec ::-webkit-scrollbar {
    width: 10px;
    margin: 5px;
    padding: 10px;
}

.helplineSec ::-webkit-scrollbar-track {
    background: #E5EBFF;
}

.helplineSec ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 25px;
}

.helplineSec ::-webkit-scrollbar-thumb:hover {
    background: #0C3851; 
}

.helplineSec{

}

.faqSec ::-webkit-scrollbar {
    width: 10px;
    margin: 5px;
    padding: 10px;
}

.faqSec ::-webkit-scrollbar-track {
    background: #E5EBFF;
}

.faqSec ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 25px;
}

.faqSec ::-webkit-scrollbar-thumb:hover {
    background: #0C3851; 
}

.healthTipsSec ::-webkit-scrollbar {
    width: 10px;
    margin: 5px;
    padding: 10px;
}

.healthTipsSec ::-webkit-scrollbar-track {
    background: #E5EBFF;
}

.healthTipsSec ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 25px;
}

.healthTipsSec ::-webkit-scrollbar-thumb:hover {
    background: #0C3851; 
}

/* Corona News Section Ends Here */


/* India Section News Styles Starts Here */

.indiaTopNewsItemHolder{
    margin-bottom: 20px;
}

.indiaTopNewsImgSec{
    padding: 0;
    height: 160px;
}

.indiaTopNewsImgSec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.dateTimePlace{
    color: #737373;
    font-weight: bold;
}

.indiaTopNewsContentSec{
    cursor: pointer;
}

.indiaTopNewsContentSec p{
    font-size: 12px;
    margin-top: 10px;
}

.sponsredContent{
    margin: 20px 0;
}

.indiaMidNewsBottomImageSec{
    height: 175px;
}

.indiaMidNewsBottomImageSec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}


.indiaMidNewsBottomContentSec{
    position: absolute;
    bottom: 0;
    padding: 0 8px;
    color: #fff;
    width: 96%;
    border-radius: 5px;
}

/* India Section News Styles Ends Here */


/* Trends Section News Styles Starts Here */

.trendsTopNewsImgSec{
    padding: 0;
    height: 110px;
}

.trendsTopNewsImgSec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.trendsTopNewsContentSec{
    margin-top: 10px;
}


/* Trends Section News Styles Ends Here */


/* Fashion Section News Styles Starts Here */

.fashionTopNewsLeftSec{
    height: 295px;
}

.fashionTopNewsLeftSec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}


.fashionTopNewsRightSec{
    height: 140px;
}

.fashionTopNewsRightSec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.fashionTopSecondLeftImageSec{
    height: 300px;
}

.fashionTopSecondLeftImageSec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.fashionTopSecondRightImageSec{
    height: 200px;
}

.fashionTopSecondRightImageSec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.fashionTopSecondRightContentSec .sponsredContent{
    margin: 15px 0;
}


/* Fashion Section News Styles Ends Here */


/* Top News Section Styles Starts Here */

.topStoriesImgSec img{
    width: 100%;
}

/* Top News Section Styles Ends Here */

/* Newsletter Style Starts Here */

.newsLetterSection{
    background-color: #2DABF4;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
}

.form-inline .form-group {
    width: 70%;
}

.form-inline .form-control {
    width: 100%;
}

.btn-default {
    color: #fff;
    background-color: #0E4666;
    border-color: #ccc;
}

.btn-default:hover{
    color: #fff;
    background-color: #0E4666;
    border-color: #ccc;
}

.btn-default:active{
    color: #fff;
    background-color: #0E4666;
    border-color: #ccc;
}


.btn-default:focus{
    color: #fff;
    background-color: #0E4666;
    border-color: #ccc;
}

.error{
    color: #cc0000;
    margin: 5px;
}


/* Newsletter Style Ends Here */


/* Advertise CSS Section Starts Here */

.partnerAdBottomSec{
    background-color: #F7F8FA;
    padding-bottom: 15px;
    margin-top: 3em;
}

.partnerAdBottomSec h3{
    margin-left: 12px;
}

.partnerAdBottomSec .sponsredBadge{
    padding: 10px !important;
}

.partnerAdSec{
    
}

.marginTopMinus3{
    margin-top: -3em;
}

.childrenAds{
    width: 23%;
    float: left;
    margin: 1%;
    display: inline-block;
}


/* Advertise CSS Section Ends Here */



/* News Details CSS Section Starts Here */

.newsDetailsSection{
    margin-top: 20px;
}

.newsDetailsSection p{
    color: #000;
}

.brandImg img{
    height: 20px;
}


/* News Details CSS Section Ends Here */


/* Jobs Section Starts Here */

.carousel-caption{
    left: 0;
    right: 0;
    top: 6em;
}

.leftBannerContent{
    text-align: left;
    position: relative;
    top: 5em;
}

.leftBannerContent h1{
    font-size: 50px;
    font-weight: 900;
    color: #2DABF4;
}

.leftBannerContent h3{
    font-size: 32px;
    color: #000;
}

/* Form Styles Starts*/

.jobForm{
    
    padding: 0.5em 1.5em 1.5em;
    background-color: #fff;
    border-radius: 20px;
}

.jobForm h3{
    font-size: 22px;
    font-weight: 600;
    color: #0C3851;
}

.jobForm .form-control{
    border: 0;
    height: 40px;
    background-color: #EEF9FF;
    box-shadow: none;
}

.jobForm .form-control::-webkit-input-placeholder{
    color: #7BB8DB;
}

.jobForm .btn-default{
    padding: 0.5em 2em;
    font-size: 18px;
    border-radius: 25px;
    background-color: #2dabf4;
    border: 0;
}


/* Form Styles Ends Here */


/* Content Section Style Starts Here */

.itemSectionContent h3{
    font-weight: 900;
    font-size: 38px;
}

.itemSectionContent p{
    font-size: 21px;
}

.itemSectionContent{
    
}

.smallNewsSecondImageLeftSection img{
    min-height: 130px;
}

.bottomItemSectionContent h3{
    font-weight: 900;
    font-size: 32px;
}

.bottomItemSectionContent p{
    font-size: 18px;
}


.browseJobsSec{
    background-color: #EEF9FF;
    padding-bottom: 3em;
    margin-top: 3em;
}

.nav-tabs>li{
    margin-bottom: -4px;
    padding-left: 1.5em;
}

.nav-tabs{
    border-bottom: 2px solid #2dabf4;
    width: 52%;
    display: inline-block;
    margin: 0 auto;
    float: none;
    left: 25%;
    position: relative;
    margin-top: 1em;
}

.nav-tabs>li>a{
    font-size: 16px;
    font-weight: 700;
}

.nav-tabs>li>a:hover{
    background-color: #fff0 !important;
}

.nav-tabs>li.active>a{
    border: 0 !important;
    background-color: #fff0 !important;
    border-bottom: 6px solid #ddd !important;
    border-bottom-color: #2dabf4 !important;
    border-radius: 5px !important;
}

.tab-content{
    margin-top: 2em;
}

.tab-content ul li{
    padding: 8px;
    font-size: 16px;
}




/* Content Section Style Starts Here */


/* Jobs Section Ends Here */


/* Lifestyle Section CSS Starts Here */


.whiteTxt{
    color: #fff;
}


.categoryLifestyleSec{
    height: 360px;
}

/* Lifestyle Section CSS Ends Here */



/* Quicklink Section Strats Here */

.quickLinks{
    padding: 0;
}

.quickLinks .quickLinksSec {
    background: #ddd;
    padding: 5px;
    border-radius: 7px;
    padding-top: 6px;
    display: inline-block;
    margin: 5px 3px;
}

.quickLinks .quickLinksSec a{
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}

/* Quicklink Section Ends Here */



/* IPL Section CSS Starts Here */


.iplNewsSection{
    margin: 2em 0;
}

.iplSectionContainer{
    background: #0C3851;
    padding: 2em 0;
    border-radius: 6px;
}

.iplHeading {
    margin-top: 0;
    margin-left: 1em;
    color: #fff;
    margin-bottom: 1em;
}

.upcomingMatchHolder{
    padding: 16px;
    background: #2dabf4;
    color: #fff;
    border-radius: 10px;
}


.dateSec{
    font-size: 12px;
    padding: 0;
    text-align: center;
}

.matchDate{
    display: inline-block;
    padding: 4px 14px;
    border: 1px solid #ddd;
    margin: 5px 0;
}

.matchDate b{
    font-size: 20px;

}

.matchDate p{
    font-size: 10px;
    margin-bottom: 0;
}

.teamDiv{
    padding: 0;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
}

.teamDetails{
    padding-right: 0;
}

.upcoming{
    background: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    float: right;
    color: #2dabf4;
}

.location{
    font-size: 10px;
}



.teamName{
    padding: 0;
}

.teamName h5{
    font-family: 'metropolis bold';
    font-size: 18px;
    padding: 0;
    
}

.finishedMatch{
    
}

.finishedMatch .teamSec{
    padding: 0;
    text-align: center;
    font-size: 12px;
}


.teamNames {
    font-size: 20px;
    font-family: 'metropolis bold';
    margin-bottom: 0px;
}

.teamScore{
    font-size: 15px;
    font-family: 'metropolis bold';
    margin-bottom: 5px;
    margin-top: 5px;
}

.resultLabel{
    margin-top: 2em;
    padding: 0;
    text-align: center;
}

.resultLabel label{
    background: #fff;
    color: #2dabf4;
    padding: 2px 8px;
    border-radius: 5px;
}

.matchResultContainer{
    padding: 0;
    border-bottom: 2px solid #fff;
    margin-bottom: 5px;
}

.teamSec p{
    margin-bottom: 0px;
}


.winningDetails {
    margin-bottom: 5px;
    padding-top: 4px;
    text-align: center;
    font-size: 12px;
}

.scoreCardHolder{
    margin-top: 2em;
}


/* IPL Section CSS Ends Here */



/* Video Section Starts Here */

video{
    width: 100%;
}

.adItems p{
    margin-top: 1em;
    padding: 0 1em;
}


/* Video Section Ends Here */




/* Footer Ads Styles Starts Here */

.moreAds{
    background: #F7F8FA;
}

/* Footer Ads Styles Ends Here */



/* Footer CSS Starts Here */

footer{
    background-color: #062435;
    margin-top: 3em;
}

.footerUl ul{
    display: inline-block;
    float: left;
    margin: 20px 0;
}

.footerUl ul li{
    list-style: none;
    margin: 15px 36px;
}

.footerUl ul li a{
    color: #fff;
}

.paddingLeft6em{
    padding-left: 6em;
}

.footerSeconUl ul{
    padding-inline-start: 0px;
}

.footerSeconUl{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 7%;
    width: 85%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.footerSeconUl ul li{
    display: inline-block;
    float: none;
    list-style: none;
    margin: 10px 20px;
}

.footerSeconUl ul li a{
    color: #fff;
}

.copyrightPara{
    padding: 0 8em;
    color: #fff;
    font-size: 12px;
    margin-bottom: 20px;
}

.socialIcons a{
    float: right;
    margin: 0 8px;
}

/* Footer CSS Ends Here */



/* Icon Ad Slider CSS Starts Here */

.adItemSlider .slick-prev{
    left: -15px;
}

.adItemSlider .slick-next{
    right: -12px;
}

.slick-initialized .slick-slide{
    text-align: center;
}

.slick-prev:before, .slick-next:before{
    color: #000000;
}

.slick-initialized .slick-slide{
    outline: 0;
}


/* Icon Ad Slider CSS Ends Here */

/* Weather Gadget CSS Starts Here */

.searchForm .searchInput{
    border: 0;
    background: #efefef;
    padding: 5px 10px;

}

.searchForm button{
    margin-left: -5px;
    border: 0;
    padding: 5px 10px;
}

.searchForm input::-webkit-input-placeholder {
    font-size: 12px;
}

.weatherMeter{
    margin: 1em 0;
}

.weathers{
    display: inline-block;
    margin-right: 1.4em;
}

.weatherImg{
    display: inline-block;
    float: left;
    margin-top: 5px;
}

.weatherParms{
    display: inline-block;
    float: left;
    margin-left: 6px;
}

.daySec{
    margin-bottom: 0;
    font-size: 10px;
}

.todayTemp{
    margin-bottom: 0;
}

.yesterdayTemp{
    margin-bottom: 0;
    font-size: 10px;
    color: #BBBBBB;
}

/* Weather Gadget CSS Ends Here */


/* Money CSS Starts Here */


.pageTag{
    font-size: 11px;
    margin-top: 10px;
}

.source{
    color: #B5B5B5;
    font-size: 11px;
}


/* Money CSS Ends Here */


/* Sports Section Styles Starts Here */

.sportsRoutingLinks{
    font-size: 14px;
    color: #b1afaf;
}

.sportsRoutingLinks a{
    color: #b1afaf;
    font-size: 14px;
}

.blueText a{
    color: #0C3851;
}

.SportsHeaderContainSec h3{
    padding-left: 16px;
}

.iplScoreParentHolder{
    margin-top: 2em;
}

.teamMatchHeading{ 
    font-size: 13px; 
    font-weight: 800; 
    text-align: center;
    min-height: 38px;
}

.matchVenue{
    font-size: 10px;
    text-align: center;
    font-weight: 600;
}


.matchResultHolderSec{
    background: #F1F1F1;
    color: #0C3851;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.teams{
    text-align: center;
    padding: 0;
}

.teamName{
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 800;
    margin-top: 6px;
}

.oversPlayed{
    font-size: 10px;
}

.matchSummaryContainer{
    border-top: 1px solid #fff;
    padding: 0;
}

.matchSummary{
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
    font-weight: 700;
    text-align: center;
}

.iplScoreCardHolder{
    padding: 0;
}

.detailsLinks{
    margin-top: 12px;
    text-align: center;
}

.detailsLinks a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    background: #2dabf4;
    padding: 8px 12px;
    border-radius: 20px;
    margin-top: 5px;
    box-shadow: 0px 4px 4px #00000033;
}

.noLiveFeed{
    padding: 0 1em;
    color: red;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 1.5em;
}


/* Scorecard CSS Starts Here */

.scoreCard{
    margin-top: 1em;
}

.winningInfo{
    color: #0c3851;
    font-weight: 600;
    font-size: 18px;
}

.tableNameScoreHolder{
    padding: 10px;
    background: #0c3851;
    color: #fff;
    border-radius: 12px 12px 0 0;

}

.teamTableName{
    display: inline-block;
}

.teamTableScore{
    display: inline-block;
    float: right;
}

.wicketsFallenHolder{
    padding: 0;
    margin-bottom: 2em;
}

.wicketsFallenHolder p{
    background: #f1f1f1;
    padding: 8px 16px;
}



/* Sports Section Style Ends Here */


.webView{
    display: block;
}

.mobView{
    display: none;
}

/* Mobile Nav Bar Starts */


/* Style the navigation menu */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
}

#myLinks a{
    display: block;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.mobLogoSec {
    
    color: white;
    height: 60px;
}






/* Mobile Nav Bar Ends */


/* Sticky Video CSS Starts Here */

.stickyVideo{
    position: sticky !important;
    bottom: 0;
    right: 0;
    padding: 0;
}


/* Sticky Video CSS Ends Here  */



/* Poll CSS Starts Here */


.pollContent{

}

.pollheading{
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    margin: 0;
}

.imgSec{
    padding-top: 16px;
}

.pollPara{
    font-size: 10px;
    color: #948e8e;
    text-align: center;
}

.pollVoteHeader{
    background: #0c3851;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 8px 8px 0 0;
}

.pollItem{
    background: #F7F8FA;
    border-radius: 10px;
    padding-bottom: 16px;
}

.pollVoteSec{
    text-align: center;
    border: 1px solid #2dabf4;
    border-radius: 10px;
    padding: 10px;
}

.yesBtn{
    background: #2DABF4;
    border-color: #2DABF4;
    padding: 2px 25px;
}

.noBtn{
    background: #fff;
    border-color: #2DABF4;
    color: #000;
    padding: 2px 25px;
    margin-left: 10px;
}

/* Graph Section */

.pollGraphSec{
    background: url(../images/polls/graph-bg.png) no-repeat top;
    background-size: cover;
}

.apexcharts-zoom-icon, .apexcharts-reset-zoom-icon, .apexcharts-menu-icon{
    display: none;
}

.voteForName{
    background: #fff;
    padding: 4px 20px;
    margin: 1em 0;
    border-radius: 12px;
}

.pollGraphHeading{
    padding-top: 1em;
    color: #fff;
    font-size: 12px;
}


/* Poll CSS Ends Here */





/* Responsive CSS Starts Here */


/* Mobile Device Starts Here */

@media only screen and (max-width: 600px) {

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 16px;
    }

    .webView{
        display: none;
    }

    .mobView{
        display: block;
    }

    .newHeaderMargin{
        margin-top: 10px;
    }

    .maxHeight15{
        height: auto;
        max-height: fit-content;
    }

    .mobMarginBottom15{
        margin-bottom: 15px;
    }

    .paddingZeroRight{
        padding: 0;
    }

    .impWebView{
        display: none !important;
    }

    .mobPaddingZeroRight{
        padding-right: 0;
    }

    .mobileBottomSpace{
        margin-bottom: 1em;
    }

    .newsFourImageSec{
        margin-bottom: 1em;
    }

    .newsSecFour h3{
        padding-top: 1em
    }

    .entertainmentSec h3{
        padding-top: 1em;
    }

    .categoryAdvertiseSec{
        padding: 2em 0;
    }

    .newsFiveRightSection{
        height: 200px;
        max-height: 200px;
        margin-top: 2em;
    }

    .newsFiveRightImageSection{
        height: 140px;
        max-height: 140px;
    }

    .newsFiveBottomContentSection {
        margin-top: 6px;
    }

    .smallNewsSecondImageLeftSection img{
        min-height: auto;
    }


    .footerUl ul{
        margin-top: 1em;
        padding-inline-start: 0px;
    }

    .footerUl ul li{
        margin: 15px 6px;
        float: left;
        width: 45%;
        text-align: left;
    }

    .footerSeconUl{
        border: 0;
        width: 94%;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: left;
        margin-left: 4%;
    }

    .footerSeconUl ul li{
        display: inline-block;
        float: none;
        list-style: none;
        margin: 10px 2px;
        width: 45%;
        text-align: left;
    }

    .footerSeconUl ul{
        padding-top: 1em;
        border-top: 2px solid #fff;
    }

    .copyrightPara{
        padding: 12px;
    }

    .mobileMargin{
        margin-left: 35px;
    }

    .mobilePaddingZeroLeft{
        padding-left: 0;
    }

    .bigNews{
        margin-bottom: 1em;
    }

    .smallNewsImageSection{
        margin-bottom: 1em;
    }

    .mobileTopMargin{
        margin-top: 15px;
    }

    .mobileCenter{
        text-align: center;
    }

    .mobDisplayInlineBlock{
        display: inline-block;
    }

    .mobilePullRight{
        float: right;
    }

    /* IPL Section CSS Starts Here */

    .indiaTopSecNews{
        margin-top: 1em;
    }

    .teams{
        width: 45%;
        display: inline-block;
    }

    .tableNameScoreHolder{
        width: 108%;
    } 

    .upcomingMatch{
        margin-bottom: 1em;
    }

    .dateSec{
        width: 22%;
        display: inline-block;
    }

    .teamDetails{
        width: 72%;
        display: inline-block;
    }

    .teamName{
        display: block;
    }

    .matchSummary{
        text-align: center;
        padding-bottom: 12px;
    }

    .teamName h5{
        display: inline-block;
    }

    .finishedMatch .teamSec{
        width: 33%;
        display: inline-block;
    }

    .resultLabel{
        width: 30%;
        display: inline-block;
    }

    /* News description CSS Starts Here */

    .mobilePaddingZero{
        padding: 0;
    }

    /* News description CSS Ends Here */


    /* IPL News CSS Starts Here */

    .scoreCardHolder{
        padding: 0;
    }

    

    /* IPL News CSS Ends Here */

}

/* Mobile Device Ends Here */


/* Tab Device strats here */

@media(max-width:736px){

    .webView{
        display: none;
    }

    .mobView{
        display: block;
    }

    .mobileTopMargin{
        margin-top: 15px;
    }

    .mobileCenter{
        text-align: center;
    }

}


/* Tab device ends here */


/* Small Desktop or Laptob Starts */

@media(max-width:800px){
    
    .webView{
        display: none;
    }

    .mobView{
        display: block;
    }

    .mobileTopMargin{
        margin-top: 15px;
    }

    .mobileCenter{
        text-align: center;
    }

}

/* Small Desktop or Laptob Ends */



/* Responsive CSS Ends Here */

